body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(95, 95, 190);
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  color: white;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid rgb(95, 95, 190);
  border-radius: 5px;
  width: calc(100% - 100px);
  box-sizing: border-box;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(95, 95, 190);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(95, 95, 190);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item p {
  margin: 0;
}